In [96]:
# import libraries
import pandas as pd
import numpy as np
from functions import *
from spellchecker import SpellChecker

In [97]:
# read in data (tab seperated)
data = pd.read_csv('data.csv', sep='\t')

# make it so we can view all columns
pd.set_option('max_columns', None)

In [98]:
# view data
data.head()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,Q4I,Q4E,Q5A,Q5I,Q5E,Q6A,Q6I,Q6E,Q7A,Q7I,Q7E,Q8A,Q8I,Q8E,Q9A,Q9I,Q9E,Q10A,Q10I,Q10E,Q11A,Q11I,Q11E,Q12A,Q12I,Q12E,Q13A,Q13I,Q13E,Q14A,Q14I,Q14E,Q15A,Q15I,Q15E,Q16A,Q16I,Q16E,Q17A,Q17I,Q17E,Q18A,Q18I,Q18E,Q19A,Q19I,Q19E,Q20A,Q20I,Q20E,Q21A,Q21I,Q21E,Q22A,Q22I,Q22E,Q23A,Q23I,Q23E,Q24A,Q24I,Q24E,Q25A,Q25I,Q25E,Q26A,Q26I,Q26E,Q27A,Q27I,Q27E,Q28A,Q28I,Q28E,Q29A,Q29I,Q29E,Q30A,Q30I,Q30E,Q31A,Q31I,Q31E,Q32A,Q32I,Q32E,Q33A,Q33I,Q33E,Q34A,Q34I,Q34E,Q35A,Q35I,Q35E,Q36A,Q36I,Q36E,Q37A,Q37I,Q37E,Q38A,Q38I,Q38E,Q39A,Q39I,Q39E,Q40A,Q40I,Q40E,Q41A,Q41I,Q41E,Q42A,Q42I,Q42E,country,source,introelapse,testelapse,surveyelapse,TIPI1,TIPI2,TIPI3,TIPI4,TIPI5,TIPI6,TIPI7,TIPI8,TIPI9,TIPI10,VCL1,VCL2,VCL3,VCL4,VCL5,VCL6,VCL7,VCL8,VCL9,VCL10,VCL11,VCL12,VCL13,VCL14,VCL15,VCL16,education,urban,gender,engnat,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,8,2044,4,34,2153,4,33,2416,4,10,2818,4,13,2259,2,21,5541,1,38,4441,4,31,2451,4,24,3325,4,14,1416,4,37,5021,4,27,2342,4,39,2480,3,6,2476,4,35,1627,3,17,9050,3,30,7001,1,11,4719,4,20,2984,4,36,1313,4,42,2444,4,1,9880,4,2,4695,4,5,1677,3,4,6723,4,3,5953,2,26,8062,4,12,5560,4,7,3032,2,29,3316,3,40,3563,4,23,5594,4,41,1477,1,18,3885,2,9,5265,4,19,1892,3,22,4228,4,32,1574,4,15,2969,IN,2,19,167,166,1,5,7,7,7,7,7,5,1,1,1,0,0,1,1,0,1,0,0,1,0,0,0,1,1,1,2,3,2,2,16,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,28,3090,4,10,5078,4,40,2790,3,18,3408,4,1,8342,3,37,916,2,32,1537,2,21,3926,2,25,3691,4,26,2004,4,4,8888,3,27,4109,3,19,4058,4,12,3692,2,6,3373,1,23,6015,1,16,3023,2,22,2670,3,3,5727,1,39,3641,2,33,2670,2,7,7649,3,11,2537,3,5,2907,4,9,1685,3,41,4726,3,17,6063,2,20,3307,3,14,4995,3,38,2505,2,34,2540,2,31,4359,3,15,3925,4,13,4609,2,30,3755,2,42,2323,1,24,5713,2,8,1334,2,29,5562,US,2,1,193,186,6,5,4,7,5,4,7,7,1,5,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,2,3,2,1,16,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,13,6470,4,11,3927,3,9,3704,1,17,4550,3,5,3021,2,32,5864,4,21,3722,2,10,3424,1,36,3236,4,23,2489,1,34,7290,4,12,6587,4,22,3627,4,38,2905,2,18,2998,2,8,10233,1,16,4258,4,28,2888,3,4,59592,2,3,11732,4,2,8834,2,29,7358,1,30,4928,2,15,3036,1,19,4127,2,37,3934,2,26,10782,4,1,8273,3,39,3501,1,27,3824,4,25,2141,3,6,17461,4,24,1557,4,40,4446,4,42,1883,2,35,5790,2,14,4432,1,20,2203,4,31,5768,PL,2,5,271,122,2,5,2,2,5,6,5,5,3,2,1,0,0,1,1,0,0,0,0,0,1,0,0,1,1,1,2,3,2,2,17,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,27,4556,3,28,3269,3,26,3231,4,2,7138,2,19,3079,3,31,9650,3,17,4179,2,5,5928,1,21,2838,1,20,2560,4,29,5139,2,22,3597,2,35,3336,3,10,4506,1,14,2695,1,25,8128,2,15,3125,1,6,4061,1,40,4272,1,12,4029,1,9,5630,1,18,30631,2,24,9870,4,4,2411,1,16,9478,3,1,7618,3,32,12639,3,34,5378,1,41,8923,2,38,2977,4,3,5620,1,7,16760,1,8,6427,2,39,3760,1,13,4112,3,42,2769,4,33,4432,4,30,3643,2,36,3698,US,2,3,261,336,1,1,7,4,6,4,6,1,6,1,1,0,0,1,1,0,0,0,0,1,0,0,0,1,1,1,1,3,2,1,13,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,10,2802,4,2,5628,2,9,6522,4,34,2374,4,11,3054,4,7,2975,3,14,3524,2,33,3033,4,23,2132,4,17,1314,4,16,3181,4,26,2249,3,19,2623,4,35,3093,4,38,7098,4,37,1938,4,15,3502,3,32,4776,3,18,4463,4,4,2436,2,40,4047,4,31,3787,4,42,2102,2,1,12351,4,3,2410,2,22,5056,4,39,3343,3,27,3012,4,20,3520,4,8,1868,4,25,2536,3,24,3725,4,30,2130,3,29,3952,3,21,10694,3,41,3231,4,12,3604,4,28,1950,3,6,6265,MY,2,1766,164,157,2,5,3,6,5,5,5,6,3,3,1,1,0,1,1,0,0,1,0,1,0,0,1,1,1,1,3,2,2,2,19,2,2,3,10,1,10,2,1,4,Psychology

In [99]:
# get data shape
get_size(data)

         Count
Columns    172
Rows     39775

In [100]:
# get types for each column
get_dtypes(data)

In [101]:
count_unique(data)

In [102]:
get_dupes(data)

There are no Duplicate Values

In [103]:
null_vals(data)

In [104]:
data['major'] = data.major.str.lower()
data['major'] = data.major.str.strip()
data['major'] = data.major.str.replace('\W', ' ', regex=True)
data['major'] = data.major.str.replace('  +', ' ', regex=True)
data['major'] = data.major.str.split()
data['major'] = data.major.str[0]

In [105]:
from spellchecker import SpellChecker
spell = SpellChecker(distance=1)
def Correct(x):
    return spell.correction(str(x))
data['major'] = data['major'].apply(Correct)

In [106]:
major_dict = {'dropped': None,
              'i': None,
              'doesnt': None,
              'no': None,
              '22810': None,
              'psych': 'psychology',
              'dont': None,
              '0': None,
              'hahahahaha': None,
              'none': None,
              'oooo': None,
              }

data = data.replace(major_dict)

In [107]:
data.major.nunique()

1029

In [108]:
data.major.value_counts()[0:10]

nan            11447
psychology      1936
english         1571
business        1433
engineering     1155
accounting      1015
computer         888
law              712
science          682
civil            626
Name: major, dtype: int64

In [109]:
unique_vals(data)

In [110]:
depression_answers = ['Q3A', 'Q5A', 'Q10A', 'Q13A', 'Q16A', 'Q17A', 'Q21A', 'Q24A', 'Q26A', 'Q31A', 'Q34A', 'Q37A', 'Q38A', 'Q42A']
anxiety_answers = ['Q2A', 'Q4A', 'Q7A', 'Q9A', 'Q15A', 'Q19A', 'Q20A', 'Q23A', 'Q25A', 'Q28A','Q30A', 'Q36A', 'Q40A', 'Q41A']
stress_answers = ['Q1A', 'Q6A', 'Q8A', 'Q11A', 'Q12A', 'Q14A', 'Q18A', 'Q22A', 'Q27A', 'Q29A', 'Q32A', 'Q33A', 'Q35A', 'Q39A']

depression_time = [i.strip('A') + 'E' for i in depression_answers]
anxiety_time = [i.strip('A') + 'E' for i in anxiety_answers]
stress_time = [i.strip('A') + 'E' for i in stress_answers]

In [111]:
data['dep_score'] = data[depression_answers].sum(axis=1)
data['anx_score'] = data[anxiety_answers].sum(axis=1)
data['str_score'] = data[stress_answers].sum(axis=1)

data['dep_time'] = data[depression_time].sum(axis=1)
data['anx_time'] = data[anxiety_time].sum(axis=1)
data['str_time'] = data[stress_time].sum(axis=1)

data['total_time(ms)'] = data['dep_time'] + data['anx_time'] + data['str_time']

data['dep_time'] = round(100 * data['dep_time']/data['total_time(ms)'], 2)
data['anx_time'] = round(100 * data['anx_time']/data['total_time(ms)'], 2)
data['str_time'] = round(100 * data['str_time']/data['total_time(ms)'], 2)

all_questions = depression_answers + anxiety_answers + stress_answers
question_position = [i.strip('A') + 'I' for i in all_questions]

data = data.drop(columns=depression_answers + anxiety_answers + stress_answers 
                         + depression_time + anxiety_time + stress_time + question_position
                         + ['total_time(ms)', 'introelapse', 'testelapse', 'surveyelapse'], errors = 'ignore')

In [112]:
data.head()

,country,source,TIPI1,TIPI2,TIPI3,TIPI4,TIPI5,TIPI6,TIPI7,TIPI8,TIPI9,TIPI10,VCL1,VCL2,VCL3,VCL4,VCL5,VCL6,VCL7,VCL8,VCL9,VCL10,VCL11,VCL12,VCL13,VCL14,VCL15,VCL16,education,urban,gender,engnat,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major,dep_score,anx_score,str_score,dep_time,anx_time,str_time
0,IN,2,1,5,7,7,7,7,7,5,1,1,1,0,0,1,1,0,1,0,0,1,0,0,0,1,1,1,2,3,2,2,16,1,1,1,12,1,10,2,1,2,nan,41,48,54,30.46,40.71,28.83
1,US,2,6,5,4,7,5,4,7,7,1,5,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,2,3,2,1,16,2,1,2,7,0,70,2,1,4,nan,38,31,41,28.89,31.65,39.47
2,PL,2,2,5,2,2,5,6,5,5,3,2,1,0,0,1,1,0,0,0,0,0,1,0,0,1,1,1,2,3,2,2,17,2,1,1,4,3,60,1,1,3,nan,53,26,31,21.86,31.28,46.85
3,US,2,1,1,7,4,6,4,6,1,6,1,1,0,0,1,1,0,0,0,0,1,0,0,0,1,1,1,1,3,2,1,13,2,1,2,4,5,70,2,1,5,biology,30,31,30,25.84,45.09,29.08
4,MY,2,2,5,3,6,5,5,5,6,3,3,1,1,0,1,1,0,0,1,0,1,0,0,1,1,1,1,3,2,2,2,19,2,2,3,10,1,10,2,1,4,psychology,46,54,43,35.33,26.46,38.22

In [113]:
data['dep_cat']=np.select([data['dep_score'] < 10, 
                           data['dep_score'].between(10,14),
                           data['dep_score'].between(14,21),
                           data['dep_score'].between(21,28),
                           data['dep_score'] >= 28],
                           [0, 1, 2, 3, 4])

data['anx_cat'] = np.select([data['anx_score'] < 8, 
                             data['anx_score'].between(8,10),
                             data['anx_score'].between(10,15),
                             data['anx_score'].between(15,20),
                             data['anx_score'] >= 20],
                             [0, 1, 2, 3, 4])

data['str_cat'] = np.select([data['str_score'] < 15, 
                             data['str_score'].between(15,19),
                             data['str_score'].between(19,26),
                             data['str_score'].between(26,34),
                             data['str_score'] >= 34],
                             [0, 1, 2, 3, 4])

In [114]:
normal_tipis = ['TIPI' + str(i) for i in range(1,11,2)]
reverse_tipis = ['TIPI' + str(i) for i in range(1,11) if i % 2 == 0]

In [115]:
data[reverse_tipis] = 7 - data[reverse_tipis]

In [116]:
personalities = ['extraversion', 'agreeableness', 'conscientiousness', 'stability', 'openness']
for i in personalities:
    data[i] = (data['TIPI' + str(personalities.index(i) + 1)] + data['TIPI' + str(personalities.index(i) + 6)]) / 2

In [117]:
data = data.drop(columns=normal_tipis + reverse_tipis)

In [118]:
data['invalid_word'] = np.select([data['VCL6'] == 1, 
                                  data['VCL9'] == 1,
                                  data['VCL12'] == 1],
                                  [True, True, True], False)

In [119]:
words = ['VCL' + str(i) for i in range(1,17)]

In [120]:
data = data.drop(columns=words)

In [121]:
data = data.drop(columns = ['dep_score', 'anx_score', 'str_score', 'uniquenetworklocation', 'screensize', 'source'], errors='ignore')

In [122]:
data.head()

,country,education,urban,gender,engnat,age,hand,religion,orientation,race,voted,married,familysize,major,dep_time,anx_time,str_time,dep_cat,anx_cat,str_cat,extraversion,agreeableness,conscientiousness,stability,openness,invalid_word
0,IN,2,3,2,2,16,1,12,1,10,2,1,2,nan,30.46,40.71,28.83,4,4,4,0.5,4.5,4.5,0.5,6.5,False
1,US,2,3,2,1,16,2,7,0,70,2,1,4,nan,28.89,31.65,39.47,4,4,4,4.5,4.5,2.0,0.5,3.5,False
2,PL,2,3,2,2,17,1,4,3,60,1,1,3,nan,21.86,31.28,46.85,4,4,3,1.5,3.5,2.0,4.0,5.0,False
3,US,1,3,2,1,13,2,4,5,70,2,1,5,biology,25.84,45.09,29.08,4,4,3,2.0,6.0,6.5,4.5,6.0,False
4,MY,3,2,2,2,19,3,10,1,10,2,1,4,psychology,35.33,26.46,38.22,4,4,4,2.0,3.5,2.0,2.0,4.5,False

http://gosling.psy.utexas.edu/wp-content/uploads/2014/09/tipi.pdf

In [123]:
data = data[['country', 'education', 'urban', 'engnat', 'age', 'gender', 'orientation'
             'race', 'married', 'familysize', 'voted', 'hand', 'major', 'religion',
             'dep_time', 'anx_time', 'str_time', 'anx_cat', 'str_cat',
             'extraversion', 'agreeableness', 'conscientiousness', 'stability',
             'openness', 'invalid_word', 'dep_cat']]

KeyError: "['orientationrace'] not in index"

In [ ]:
data.head()

In [131]:
edu_dict = {1: 'Below High School',
            2: 'High School',
            3: 'University Degree',
            4: 'Graduate Degree'}

urb_dict = {1: 'Rural',
            2: 'Suburban',
            3: 'Urban'}

race_dict = {10:'Asian', 
             20:'Arab', 
             30:'Black', 
             40:'Indigenous Australian', 
             50:'Native American', 
             60:'White', 
             70:'Other'}

hand_dict = {1: 'Right',
             2: 'Left',
             3: 'Both'}

relig_dict = {1:'Agnostic', 
              2:'Atheist', 
              3:'Buddhist', 
              4:'Christian (Catholic)', 
              5:'Christian (Mormon)', 
              6:'Christian (Protestant)', 
              7:'Christian (Other)', 
              8:'Hindu', 
              9:'Jewish', 
              10:'Muslim', 
              11:'Sikh', 
              12:'Other'}

orient_dict = {0:'Other',
               1:'Heterosexual', 
               2:'Bisexual', 
               3:'Homosexual', 
               4:'Asexual', 
               5:'Other'}

gend_dict = {1: 'M',
             2: 'F',
             3: 'O'}

marr_dict = {1:'Never',
             2:'Currently',
             3:'Previously'}

data['education'] = data.education.replace(edu_dict)
data['urban'] = data.urban.replace(urb_dict)
data['race'] = data.race.replace(race_dict)
data['hand'] = data.hand.replace(hand_dict)
data['religion'] = data.religion.replace(relig_dict)
data['orientation'] = data.orientation.replace(orient_dict)
data['gender'] = data.gender.replace(gend_dict)
data['married'] = data.married.replace(marr_dict)

In [146]:
type_dict = {'country': 'category',
             'education': 'category',
             'urban': 'category',
             'engnat': 'category',
             'gender': 'category',
             'hand': 'category',
             'orientation': 'category',
             'race': 'category',
             'voted': 'category',
             'married': 'category',
             'major': 'category',
             'religion': 'category'}
data = data.astype(type_dict)
data = data.convert_dtypes()

In [147]:
data.dtypes

country              category
education            category
urban                category
gender               category
engnat               category
age                     Int64
hand                 category
religion             category
orientation          category
race                 category
voted                category
married              category
familysize              Int64
major                category
dep_time              Float64
anx_time              Float64
str_time              Float64
dep_cat                 Int32
anx_cat                 Int32
str_cat                 Int32
extraversion          Float64
agreeableness         Float64
conscientiousness     Float64
stability             Float64
openness              Float64
invalid_word          boolean
dtype: object

In [149]:
pd.DataFrame(data.corr().sort_values(by='dep_cat')['dep_cat'])

                    dep_cat
stability         -0.490952
conscientiousness -0.265401
extraversion      -0.249356
openness          -0.202056
agreeableness     -0.137486
age               -0.056148
str_time          -0.040516
familysize        -0.034837
dep_time          -0.002305
invalid_word       0.008050
anx_time           0.043775
anx_cat            0.536857
str_cat            0.675236
dep_cat            1.000000